h1 {
    font-size: 40px;
    line-height: 45px;
    color: #3b3b3b;
    font-weight: bold;
    margin-top:0;
    margin-bottom: 40px;
}

h2 {
    font-size: 26px;
    font-weight: 600;
    color: #3b3b3b;
    position: relative;
}

hr {
    border-top: 1px solid #c6c5c5;
}

label {
    font-size: 16px;
    font-weight: normal;
    color: #3b3b3b;
}

p {
    font-size: 13px;
}

.main-col {
    padding-left: 50px;
}

.checkmark {
    position: absolute;
    left: -35px;
}
body{
    background: url('../images/background.jpg') !important;
}

.buttons-row a.btn{
    margin-right:30px;
    border:1px solid #cccccc;
    color: #3b3b3b;
    padding: 10px 26px;
    margin-bottom: 10px;
}

p.lead{
    font-size: 18px;
    line-height: 25px;
    color: #3b3b3b;
}

.xa-footer{
    position: fixed;
    font-size: 11px;
}

.xa-footer h5{
    margin-top:15px;
}

body{
    min-height: 350px;
}