<!DOCTYPE html>
<html>
<head>
    <title>Api Integration</title>
    <script src="js/angular.min.js"></script>
    <script src="js/cookies.js"></script>
    <script src="js/app.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/run_prettify.js"></script>
</head>

<body ng-app="apiIntegration" ng-controller="mainController">


    <div class="row" style="width:100%">
        <div class="col-md-8">

            <div class="container">
                <div class="bg-danger">
                    <h2>WARNING!!!!:<br/>To use this example you need to run it in Google Chrome with <em>--disable-web-security</em> flag</h2>

                </div>
                <h2>1. Log in + obtaining session <button class="btn btn-info btn-xs" onclick="showSnippet('#code-snippet-1');">code snippet</button></h2>
                <div class="row">
                    <div class="col-md-6" style="height: 450px; overflow: auto;">
                        <div class="form-group">
                            <label>API URL</label>
                            <input type="text" class="form-control" placeholder="Enter API URL" ng-model="apiURL">
                        </div>
                        <div class="form-group">
                            <label>Login</label>
                            <input type="text" class="form-control"  placeholder="Enter login" ng-model="userLogin">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="text" class="form-control"  placeholder="Enter password" ng-model="userPassword">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="logIn()">Submit</button>

                        <div ng-show="originProblem == true" class="alert-danger" style="margin-top:30px; padding:5px;">
                            Can't login because of cross-domain problems. Please try to: <button class="btn btn-default btn-sm" ng-click="logOut()" ng-disabled="loggedOut == true">Reset session</button> and try again.<br/>
                            If it doesn't help please try to visit this address: <em><a href="{{apiURL}}system/logout" target="_blank">{{apiURL}}system/logout</a></em> and try again.<br/>
                            If problem persists please:<br/>
                            <ul>
                                <li>in Chrome: run browser with <em>--disable-web-security</em> flag.</li>
                                <li>in Firefox enter <em>about:config</em> in address bar then set <em>security.fileuri.strict_origin_policy</em> to <strong>false</strong></li>
                            </ul>
                        </div>

                        <div ng-show="loginFailed == true" class="alert-danger" style="margin-top:30px;  padding:5px;">
                            The login information you have entered is incorrect!
                        </div>

                    </div>
                    <div class="col-md-6" style="height: 450px; overflow: auto;">
                        <p>POST: <em>{{apiURL}}system/login</em></p>
                        <p>jsessionid: <strong>{{jsessionid}}</strong></p>
                        <p>GET: <em>{{apiURL}}system/session</em></p>
                    <pre style="height: 300px; overflow: auto;">
                    {{session | json}}
                    </pre>
                        <p>Customer ID: <strong>{{customerID}}</strong></p>
                    </div>


                </div>
                <h2>2. Obtaining dictionary values <button class="btn btn-info btn-xs" onclick="showSnippet('#code-snippet-2');">code snippet</button></h2>

                <div class="row" ng-show="session">
                    <div class="col-md-12">
                        <button class="btn btn-default" ng-click="getDictionaryValues()">Get dictionary values</button>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;" ng-show="session">
                    <div class="col-md-6" >
                        <p>GET: <em>{{apiURL}}system/languages</em></p>
                    <pre style="height: 300px; overflow: auto;">
                    {{languages | json}}
                    </pre>
                    </div>
                    <div class="col-md-6" >
                        <p>GET: <em>{{apiURL}}system/workflows</em></p>
                    <pre style="height: 300px; overflow: auto;">
                    {{workflows | json}}
                    </pre>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;" ng-show="session">
                    <div class="col-md-6" >
                        <p>GET: <em>{{apiURL}}customers/{customerID}/persons</em></p>
                    <pre style="height: 300px; overflow: auto;">
                    {{contactPersons | json}}
                    </pre>
                    </div>
                    <div class="col-md-6" >
                        <p>GET: <em>{{apiURL}}system/specializations</em></p>
                    <pre style="height: 300px; overflow: auto;">
                    {{specializations | json}}
                    </pre>
                    </div>
                </div>



                <h2>3. Sending quote/project</h2>
                <h3>3a. Uploading files <button class="btn btn-info btn-xs" onclick="showSnippet('#code-snippet-3');">code snippet</button></h3>

                <div class="row" style="margin-top:10px;" ng-show="dictionariesLoaded">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Choose file</label>
                                    <input type="file" name="file" id="file-upload" />
                                </div>
                                <div class="form-group">
                                    <label>Upload</label>
                                    <button class="btn btn-default" onclick="angular.element(document.querySelector('#file-upload')).scope().uploadFile(document.querySelector('#file-upload').files)">Upload file</button>
                                </div>


                            </div>
                            <div class="col-md-6">
                                <h3>Uploaded files</h3>
                        <pre>
                            {{uploadedFiles | json}}
                        </pre>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>3b. Sending quote <button class="btn btn-info btn-xs"  onclick="showSnippet('#code-snippet-4');">code snippet</button></h3>


                <div class="row" style="margin-top:10px;" ng-show="dictionariesLoaded">
                    <div class="col-md-6">
                        <h4>Quote JSON:</h4>
                        <textarea class="form-control" style="width:100%; height:500px;" ng-model="jsonString"></textarea>
                        <button class="btn btn-success" ng-click="sendQuote()">
                            <span ng-show="!sendingQuote">Send quote/project</span>
                            <span ng-show="sendingQuote">sending...</span>
                        </button>
                    </div>
                    <div class="col-md-6" >
                        <h4>Received data:</h4>
                        <pre style="height: 500px; overflow: auto;">{{quoteResponse | json}}</pre>
                    </div>
                </div>

                <h2>4. Data received & logout</h2>
                <div class="row" style="margin-top:10px; " ng-show="quoteResponse">
                    <div class="col-md-6">
                        Your Project Reference Number is: <strong>{{quoteResponse.refNumber}}</strong>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-default" ng-click="logOut()">Logout</button>
                    </div>
                </div>
                <div class="row" style="margin-top:50px;" ng-show="quoteResponse">
                    <div class="col-md-12">
                        <p style="text-align: center; width: 100%">Click below for:</p>
                        <a ng-disabled="!quoteResponse" class="btn btn-primary btn-lg" href="project-info.html" style="width:100%">Continue with project status and fetching files ></a>
                    </div>
                </div>

                <div style="margin-bottom: 300px;"></div>
            </div>
        </div>

        <div class="col-md-4" style="position: relative">
            <pre class="hide bg-warning prettyprint" id="code-snippet-1" ng-include="'code-snippets/code-snippet-1.js'" style="position: absolute; top:0; right: 0; width:100%;"></pre>
            <pre class="hide bg-warning prettyprint" id="code-snippet-2" ng-include="'code-snippets/code-snippet-2.js'" style="position: absolute; top:650px; right: 0; width:100%;"></pre>
            <pre class="hide bg-warning prettyprint" id="code-snippet-3" ng-include="'code-snippets/code-snippet-3.js'" style="position: absolute; top:1250px; right: 0; width:100%;"></pre>
            <pre class="hide bg-warning prettyprint" id="code-snippet-4" ng-include="'code-snippets/code-snippet-4.js'" style="position: absolute; top:1550px; right: 0; width:100%;"></pre>
        </div>
    </div>

</body>

</html>